# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ADMIN
alausaabdulazeez@gmail.com
Password@32
balogunmicheal3@gmail.com
Password@123

# FRONTDESK
{
  "email": "alausaabdulazeez803@gmail.com",
  "password": "Password@32"
}

# PHLEB
Username : abdulazeez.alausa@lifeworthhmo.com, 
Password : Password@32

# MAINLAB1
Username : alausaabdulazeez1@gmail.com
Password : Password@32

# QA
Username : alausa.abdulazeez@gmail.com
Password : Password@32

# REPORT
Username : alausa.abdulazeez803@gmail.com
Password : Password@32

# PARTNER LAB MANAGER
Username : al.ausaabdulazeez803@gmail.com
Password : Password@32

# CUSTOMER CARE
Username : ala.usaabdulazeez803@gmail.com
Password : Password@32

# PARTNER LAB
Username : a.lausaabdulazeez803@gmail.com
Password : Password@32

#CLIENT
Username :olayinka.oyeyipo@lifeworthhmo.com
Password : Password123@
Password123

#CREATE RESULT
[
  {
    "candidateId": 29,
    "testId": 9,
    "result": "-ve",
    "department": 3,
    "uploadedBy": "Abdulazeez3",
    "clientId": 1
  },
  {
    "candidateId": 29,
    "testId": 10,
    "result": "-ve",
    "department": 3,
    "uploadedBy": "Abdulazeez3",
    "clientId": 1
  },
  {
    "candidateId": 29,
    "testId": 11,
    "result": "-ve",
    "department": 3,
    "uploadedBy": "Abdulazeez3",
    "clientId": 1
  }
]

# CANDIDATE TO BE UPDATED
{
  "candidateId": 50,
  "clientid": 1,
  "height": "1.2",
  "bloodPressure": "80/120",
  "weight": "50",
  "age": "20",
  "bmi": "1.22",
  "gender": "m",
  "state": "",
  "temperature": "20",
  "visaulAcuity": "1.2",
  "randomBloodSugar": "1.2",
  "stoolAnalysis": "brown/yellow",
  "urinalysis": "{'Color/Appearance':'brown/red','Leucocytes':'no','Nitrites':'no','Urobilinogen':'no','Protein':'no','pH':'6.5','Blood':'no','SpecificGravity':'1.2','Ketone':'no','Bilirubin':'no','Glucose':'no'}"
}

{
"recommendation":"null",
"address": "Peace Street, Tanke Ilorin.",
"age":"20",
"appointmentdate":"2023-08-22T04:21:00",
"bloodPressure": "80,100mm/hg, 80b/m",
"bmi":"12.5",
"candidateId":69,
"candidateName": "ze",
"clientName": "client active",
"clientid": 12,
"createdDate":"2023-08-22T04:21:00.214",
"email":"alausaabdulazeez@gmail.com",
"gender": "F",
"height":"2",
"laboratory": "Biopath Lagos (Head)",
"laboratoryId": "11",
"phoneNumber": "08118487185",
"randomBloodSugar": "0.1",
"state": "state",
"status": "PENDING",
"stoolAnalysis":"green/green",
"temperature": "30",
"testcategory": "FHT",
"urinalysis": "{\"Color/Appearance\":\"yellow/yellow\",\"Leucocytes\":\"no\",\"Nitrites\":\"no\",\"Urobilinogen\":\"no\",\"Protein\":\"no\",\"pH\":\"7.5\",\"Blood\":\"no\",\"SpecificGravity\":\"1\",\"Ketone\":\"no\",\"Bilirubin\":\"no\",\"Glucose\":\"no\"}",
"visaulAcuity": "2",
"weight": "50"
}