# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ADMIN
alausaabdulazeez@gmail.com
Password@32
balogunmicheal3@gmail.com
Password@123

# FRONTDESK
{
  "email": "alausaabdulazeez803@gmail.com",
  "password": "Password@32"
}

# PHLEB
Username : abdulazeez.alausa@lifeworthhmo.com, 
Password : Password@32

# MAINLAB1
Username : alausaabdulazeez1@gmail.com
Password : Password@32

# QA
Username : alausa.abdulazeez@gmail.com
Password : Password@32

# REPORT
Username : alausa.abdulazeez803@gmail.com
Password : Password@32

# PARTNER LAB
Username : a.lausaabdulazeez803@gmail.com
Password : Password@32

#CLIENT
Username :olayinka.oyeyipo@lifeworthhmo.com
Password : Password123@

#CREATE RESULT
[
  {
    "candidateId": 29,
    "testId": 9,
    "result": "-ve",
    "department": 3,
    "uploadedBy": "Abdulazeez3",
    "clientId": 1
  },
  {
    "candidateId": 29,
    "testId": 10,
    "result": "-ve",
    "department": 3,
    "uploadedBy": "Abdulazeez3",
    "clientId": 1
  },
  {
    "candidateId": 29,
    "testId": 11,
    "result": "-ve",
    "department": 3,
    "uploadedBy": "Abdulazeez3",
    "clientId": 1
  }
]