.topbarWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 64px;
  height: 50px;
  border-bottom: 1px solid var(--border-silver-color);
  position: sticky;
  top: 0;
  z-index: 2;

  backdrop-filter: blur(5px);
  & > .topbarUsername{
    font-weight: 500;

    & > .topbarLabname{
      font-weight: bold;
    }

   }

  .topbarIcon {
    font-size: 24px;
    cursor: pointer;
  }
}
