.downloadReportPageContainer {
  height: 90%;
  width: 1000px;
  background-color: white;
  overflow-y: auto;

  .doctorPage {
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 32px;
    // overflow-y: auto;
    color: #000;
    margin-bottom: 300px;

    & > .topLogo {
      height: 100px;
      margin-bottom: 5px;

      & > img {
        height: 100%;
      }
    }

    .doctorPageTopDetails {
      .doctorPageTopDate,
      .doctorPageTopKey {
        font-weight: 900;
        margin-bottom: 5px;

        & > span {
          font-weight: normal;
        }
      }
    }
    .parametersInvestigated {
      .parametersInvestigatedTitle {
        font-weight: bold;
        text-decoration: underline;
        margin-bottom: 5px;
        margin-top: 16px;
      }
      .param {
        margin-bottom: 12px;
        margin-left: 64px;
      }
    }
    .recommendation {
      .recommendationTitle {
        font-weight: bold;
        text-decoration: underline;
        margin-bottom: 5px;
        margin-top: 16px;
      }
    }
  }
}
