.homeWrapper {
  display: flex;

  .homepageRight {
    flex: 5;
    overflow: auto;

    .homeMainWrapper {
      padding: 30px 64px;
      display: flex;
      // background-color: red;
      flex-direction: column;
      justify-content: space-between;
      height: calc(100vh - 50px);
      overflow-y: auto;
      // overflow-y: hidden;

      .homeMainTop {
        display: flex;
        overflow-x: auto;
        gap: 20px;
        min-height: 160px;
        max-height: 160px;
      }
    }
  }
}
