.homeWrapper {
  display: flex;

  .homepageRight {
    flex: 5;
    overflow: auto;

    .homeMainWrapper {
      padding: 30px 64px;
      display: flex;
      // background-color: red;
      flex-direction: column;
      justify-content: space-between;
      height: calc(100vh - 50px);
      overflow-y: auto;
      // overflow-y: hidden;

      .homeMainTop {
        display: flex;
        overflow-x: auto;
        gap: 20px;
        min-height: 160px;
        max-height: 160px;
      }
      .homeMainBottom{
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
      .homeMainWrapper {
         
        padding: 30px 16px !important;
    .homeMainTop {
        display: flex;
        overflow-x: auto;
        gap: 20px;
        flex-wrap: wrap;
        min-height: 500px !important;
        justify-content: center;
      }
    
    
      .homeMainBottom {
        display: none;
      }
      }

   
}
