.scheduleCandidateWrapper {
  width: 100%;
  display: flex;
  height: calc(100% - 0px);

  .scheduleCandidateRight {
    flex: 5;

    .scheduleCandidateMainWrapper {
      height: 100%;
      padding: 10px 64px;
      overflow-y: auto;

      .scheduleCandidateFormWrapper {
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & > .inputsWrapper {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 50px;
          gap: 15px;
          margin-top: 25px;
          .singleInput {
            flex: 1;
            p {
              margin-bottom: 0;
              font-weight: 500;
            }
            .inputWrapper {
              border: 1px solid grey;
              width: 400px;
              height: 40px;
              padding: 10px;
              .input {
                outline: none;
                width: 100%;
                height: 100%;
                border: none;
              }
            }
          }
          .bulkUploadWrapper {
            // background-color: red;
            position: relative;

            .bulkUploadButton {
              position: absolute;
              cursor: pointer;
              background-color: black;
              color: white;
              padding: 10px 15px;
              right: 30%;
              top: 30%;

              &:hover {
                box-shadow: 1px 1px 40px 4px #6b6a6a6b;
              }
            }
          }
          .downloadSample {
            // text-align: center;
            margin-top: 10px;
          }
          .autoComplete {
            display: flex;
            align-items: flex-end;
          }
        }
        .testCategoryWrapper {
          display: flex;
          flex-direction: column;
          gap: 20px;

          & > .testCategoryTop {
            height: 250px;
            width: 100%;
            box-shadow: 0px 0px 5px 0px rgba(196, 196, 196, 0.75);
            border-radius: 10px;
            padding: 10px;
            overflow: auto;
          }
          & > .testCategoryBottom {
            height: 150px;
            box-shadow: 0px 0px 5px 0px rgba(196, 196, 196, 0.75);

            border-radius: 10px;
            padding: 10px;
            width: 100%;
            margin-bottom: 20px;
            overflow: auto;

            .testCategoryBottomTitle {
              font-weight: bold;
              position: sticky;
              top: 0;
              background-color: white;
              z-index: 99;
            }

            .testCategoryBottomForm {
              display: flex;
              justify-content: space-around;
              margin-top: 15px;
              .testCategoryAutocompleteWrapper {
                width: 60%;
              }
              .testCategoryBottomFormBtn {
                padding: 5px 20px;
                outline: none;
                border: none;
                background-color: #000;
                color: white;
                font-weight: bold;
                cursor: pointer;
                height: 50px;
                font-size: 16px;
              }
            }
          }
        }
        .scheduleCandidateEditBtn {
          cursor: pointer;
          font-size: 16px;
          font-weight: bold;
          width: 100%;
          height: 50px;
          background-color: var(--main-purple);
          color: white;
          border: none;
          outline: none;
          border-radius: 10px;

          &:disabled{
            background-color: #7551f87c;
            cursor: not-allowed;
          }
        }
        .cancelClientEditBtn {
          cursor: pointer;
          font-size: 16px;
          font-weight: bold;
          width: 100%;
          height: 50px;
          background-color: var(--light-purple);
          color: black;
          border: none;
          outline: none;
          border-radius: 10px;
          margin-bottom: 20px;

          &:disabled {
              cursor: not-allowed;
            }
        }
      }
    }
  }
}

.datePicker {
  border: none;
  outline: none;
}
