.partnerLabsWrapper {
  width: 100%;
  display: flex;

  .partnerLabsRight {
    flex: 5;

    .partnerLabsMainWrapper {
      padding: 30px 64px;

      .partnerLabsMainTop {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > h3 {
          color: var(--text-silver-color);
        }

        .addLabBtn {
          height: 36px;
          border-radius: 16px;
          background-color: #000;
          color: #fff;
          padding: 6px 12px;
          display: flex;
          align-items: center;
          outline: none;
          border: none;
          cursor: pointer;

          & > span {
            display: flex;
            align-items: center;
            margin-left: 4px;

            .addIcon {
              color: white;
              font-size: 20px;
            }
          }
        }
      }
      .partnerLabsMainBottom {
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .manageCandidatesSlide {
        position: absolute;
        overflow: auto;
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 55%;
        height: 100%;
        top: 0;
        background-color: white;
        z-index: 2;
        box-shadow: 1px 1px 40px 4px #6b6a6a6b;
        transition: all ease-in-out 0.65s;
        padding: 32px;
        visibility: hidden;

        .slideMiddle {
          display: flex;
          flex-wrap: wrap;

          .companyDetail {
            width: 30%;
          }

          & > .h3 > h3 {
            margin-bottom: 0;
            // margin-top: 0;
          }

          & > .h3 > p {
            margin-bottom: 0;
            margin-top: 0;
            color: darkgray;
            font-weight: bold;
            font-size: 15px;
          }
        }

        .slideTop {
          height: 100px;
          display: flex;
          align-items: center;

          .cancelconWrapper {
            position: absolute;
            top: 50px;
            right: 50px;

            .cancelIcon {
              color: rgb(138, 17, 17);
              font-size: xx-large;
              cursor: pointer;
            }
          }

          .initials {
            height: 90px;
            width: 90px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--main-purple);
            font-size: 42px;
            color: white;
            letter-spacing: 2px;
            margin-right: 30px;
            text-transform: uppercase;
          }

          .slideFullname {
            font-size: 24px;
            font-weight: bold;
          }
        }

        .updateUserSlideBottom {
          min-height: 50%;

          max-height: 500px;

          overflow-y: auto;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 30px;

          .updateUserInputWrapper {
            // background-color: #000;
            min-width: 300px;
            height: 80px;
            display: flex;
            flex-direction: column;
            // margin-bottom: 20px !important;
            justify-content: flex-end;
            margin: 0;
            // flex: ;

            & > P {
              margin: 0;
            }

            .inputWrapper {
              border: 1px solid grey;
              width: 300px;
              height: 40px;
              padding: 10px;
              .updateLabInput {
                outline: none;
                width: 100%;
                height: 100%;
                border: none;
              }
            }

            .updateUserDatePicker {
              height: 40px;
              padding: 5px;

              &:focus {
                outline: 1px solid silver;
              }
            }

            .updateUserInput {
              padding: 10px;
              margin-bottom: 100px !important;
              // color: darkgray;
              // font-weight: 700;

              &:focus {
                outline: 1px solid silver;
              }
            }
          }
        }

        .updateUserBtn {
          background-color: #000;
          color: white;
          padding: 10px 15px;
          position: absolute;
          bottom: 50px;
          right: 80px;
          outline: none;
          border: none;
          cursor: pointer;

          &:hover {
            box-shadow: 1px 1px 40px 4px #6b6a6a6b;
          }

          &:disabled {
            background-color: #0000007c;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}

.status {
  padding: 6px 12px;
  border-radius: 16px;
  background: rgba(108, 186, 60, 0.2);
  color: #174700;
}

.Inactive {
  background: rgba(186, 60, 60, 0.27);
  color: #470000;
}
.buttons {
  display: flex;
  gap: 18px;
  .editWrapper {
    display: flex;
    align-items: center;
    background: rgba(60, 73, 186, 0.2);
    border-radius: 16px;
    padding: 6px 12px;
    gap: 6px;
    color: #0007b3;
    cursor: pointer;

    .editIcon {
      font-size: 18px;
    }
  }
  .deleteWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;

    background: #ba3c3c45;

    border-radius: 16px;
    padding: 6px 12px;
    gap: 6px;
    color: #470000;
    .deleteIcon {
      font-size: 18px;
    }
  }
}
